<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <class name="APIFrameWorkTDD3Testng.APIFrameWorkTDD3Testng.AppTest"/>
      <class name="org.testing.TestScripts.TC1"/>
      <class name="org.testing.TestScripts.TC2"/>
      <class name="org.testing.TestScripts.TC3"/>
      <class name="org.testing.TestScripts.TC4"/>
      <class name="org.testing.TestScripts.TC5"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
